---
import Title from "../layouts/Titles.astro";
import Section from "../layouts/Section.astro";

import WhatsAppIcon from "./icons/WhatsApp-ico.astro";
import GmailIcon from "./icons/Gmail-ico.astro";
import GitHubIcon from "./icons/GitHubLogo-icon.astro";
import LinkeindIcon from "./icons/Linkeind-icon.astro";
import CopyIcon from "./icons/Copy-icon.astro";
import Paragraph from "../layouts/Paragraph.astro";

/** Icon links to social media — edit these with links to your profiles! */
const iconLinks: { label: string; href: string; icon: any }[] = [
  { label: "GitHub", href: "https://github.com/jljulioa", icon: GitHubIcon },
  {
    label: "WhatsApp",
    href: "https://wa.me/+573008865675",
    icon: WhatsAppIcon,
  },
  {
    label: "Linkedin",
    href: "https://www.linkedin.com/in/jljulioa1408/",
    icon: LinkeindIcon,
  },
  { label: "Gmail", href: "mailto:jljulioa@gmail.com", icon: GmailIcon },
];
---

<Section id="info">
  <Title>Work Together?</Title>
  <Paragraph>
    Upon reviewing my portfolio, especially the "About Me" section, I hope
    you've gained an understanding of my versatility. While I may lack formal
    experience in the Tech Industry, my diverse skill set and ability to employ
    various techniques make me an invaluable asset. I am confident that I can
    contribute significantly, bringing fresh perspectives and seizing new
    opportunities for your team.
  </Paragraph>
  <div>
    {
      iconLinks.map((social) => (
        <>
          <a href={social.href} id={social.label} target="_blank">
            <button
              type="button"
              data-tooltip-target={`tooltip-contact-${social.label}`}
              class="relative text-gray-900 bg-white hover:bg-slate-200 border-4 border-[#3d30ff] dark:border-[#665fcc] me-2 rounded-lg text-lg px-2 py-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white"
            >
              <social.icon class="size-10" />
              <div
                id={`tooltip-contact-${social.label}`}
                role="tooltip"
                class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
              >
                {social.label}
                <div class="tooltip-arrow" data-popper-arrow />
              </div>
            </button>
          </a>
        </>
      ))
      }
      <>
        <input
          type="text"
          id="copyEmailInput"
          value="jljulioa@gmail.com"
          class="sr-only peer"
          checked
        />
        <button
         id="copyEmail"
          type="button"
          data-tooltip-target="tooltip-copy"
          class="relative text-gray-900 bg-white hover:bg-slate-200 border-4 border-[#3d30ff] dark:border-[#665fcc] me-2 rounded-lg text-lg px-2 py-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white"
        >
          <CopyIcon  class="size-10" />
          <div
            id="tooltip-copy"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            Copy@email
            <div class="tooltip-arrow" data-popper-arrow />
          </div>
        </button>
      <>
  <div/>
      <a
        href="https://drive.google.com/file/d/1l9L-pFVUgMIiCDYwoZd9ZjCs5q7-xknn/view?usp=drive_link"
        target="_blank"
      >
        <button
          type="button"
          data-tooltip-target="tooltip-cv"
          class="relative mt-10 text-white text-lg md:text-2xl bg-blue-700 hover:bg-[#665fcc] dark:bg-[#665fcc] dark:hover:bg-blue-700 font-medium rounded-3xl w-auto px-5 py-2.5 text-center"
        >
          CV @jljulioa
          <div
            id="tooltip-cv"
            role="tooltip"
            class="absolute -top-4 z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
          >
            PDF CV @jljulio
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div></button
        >
      </a>

</Section>

<script>
  const copyEmail = document.getElementById(
    "copyEmailInput"
  ) as HTMLInputElement;

  const copyButton = document.getElementById("copyEmail") as HTMLElement;

  copyButton?.addEventListener("click", () => {
    copyEmail.select();
    copyEmail.setSelectionRange(0, 99999); // For mobile devices

    console.log(copyEmail.value);
    // Copy the text inside the text field
    navigator.clipboard.writeText(copyEmail.value);
  });
</script>
</div>